.copyright {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 126px;
  padding: 25px 97px 20px 97px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.copyright__link {
  &:hover,
  &:focus {
    fill: #81b3d2;
  }
  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    outline: 3px solid red;
    padding: 0;
  }
}
