.features {
  padding: 0;
  list-style: none;
  text-align: left;
}

.features__title {
  margin-top: 2px;
  margin-bottom: 15px;
  padding-left: 70px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.features__item {
  position: relative;
}

.features__item--house {
    padding-top: 30px;
  &::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 23px;
    background-image: url("../img/icon-house.svg");
    height: 38px;
    width: 40px;
    background-repeat: no-repeat;
  }
}

.features__item--gift {
  padding-top: 12px;
  &::before {
    content: "";
    position: absolute;
    left: 25px;
    top: 5px;
    background: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    height: 38px;
    width: 33px;
  }
}
.features__item--burger {
  padding-top: 12px;
  padding-bottom: 22px;
  &::before {
    content: "";
    position: absolute;
    left: 17px;
    top: 10px;
    background-image: url("../img/icon-burger.svg");
    height: 37px;
    width: 40px;
    background-repeat: no-repeat;
  }
}
@media (max-width: @mobile-width-only) {
  .features__description br {
    display: none;
  }
}


.features__description {
  width: 230px;
  padding: 0;
  padding-left: 70px;
  padding-right: 41px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

@media (min-width: @tablet-width) {
  .features {
    outline: 3px solid red;
    display: flex;
    text-align: center;
  }

  .features__item {
    margin-top: 60px;
    width: 256px;
    min-height: 258px;
  }
  .features__title {
    padding: 0;
    padding-top: 85px;
    font-size: 21px;
    line-height: 21px;
  }
  .features__description {
    padding: 0;
    padding-top: 10px;
    margin: 10px auto;
    width: 165px;
  }
  .features__item--burger .features__description {
    width: 155px;
  }
  .features__item--burger {
    order: 2;
    padding-bottom: 0;
    &::before {
      left: 87px;
      top: 0;
      width: 80px;
      height: 80px;
      background-size: contain;
    }
  }
  .features__item--house {
    padding-top: 12px;
    order: 1;
    &::before {
      left: 87px;
      top: 0;
      width: 80px;
      height: 80px;
      background-size: contain;
    }
  }
  .features__item--gift {
    order: 3;
    &::before {
      left: 97px;
      top: 0;
      width: 76px;
      height: 75px;
      background-size: contain;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    outline: 5px solid red;
    min-height: 330px;
    align-items: center;
  }
  .features__item {
    width: 400px;
  }
  .features__description {
    width: 295px;
  }
  .features__item--burger .features__description {
    width: 295px;
  }
  .features__item--gift .features__description {
    width: 215px;
  }
  .features__item--burger {
    &::before {
      left: 157px;
    }
  }
  .features__item--house {
    &::before {
      left: 157px;
    }
  }
  .features__item--gift {
    &::before {
      left: 167px;
    }
  }
}
