.footer {
  outline: 1px solid red;
}

.footer__hashtag {
  margin-top: 0;
  padding-top: 35px;
  padding-bottom: 12px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    outline: 3px solid red;
    min-height: 120px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .footer__hashtag {
    margin: 0;
    padding: 0;
    outline: 3px solid red;
    align-self: center;
  }
}
