.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.form__list h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  width: 100%;
  padding-bottom: 2px;
}

.form__item {
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.form__button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 48px;
  width: 280px;
  height: 58px;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
}

.form__item--introduction label {
  margin: 0;
  padding: 0;
  height: 58px;
  width: 50px;
  align-self: flex-end;
  text-align: left;
  color: #333333;
}

.introduction-name {
  flex-grow: 1;
}

.form__item input {
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding-left: 20px;
  background-color: #f2f2f2;
  color: #000000;
}

.form__item--introduction input {
  width: 192px;
  height: 58px;
  margin-bottom: 20px;
}

.form__item--introduction {
  padding-bottom: 5px;
}

.form__item--contacts h3 {
  padding-bottom: 5px;
}

.form__item--contacts label {
  padding-left: 20px;
  padding-right: 20px;
}
.form__item--contacts input {
  margin-top: 10px;
  margin-bottom: 14px;
  height: 58px;
  width: 280px;
}

.form__item--contacts {
  padding-bottom: 15px;
}
.phone-number__wrapper {
  padding: 0;
  margin: 0;
  position: relative;
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: grey;
    background-image: url("../img/icon-phone.svg");
  }
}

.contacts-phone-number__input {
  position: relative;
  &::after {
    content: "";

    width: 20px;
    height: 20px;
    position: absolute;
    background-color: black;
    background-image: url("../img/icon-phone.svg");
  }
}

.form__item--impression input {
  margin-top: 0;
  width: 55px;
  height: 55px;
}

.form__item--impression label {
  width: 220px;
  font-weight: 700;
  text-transform: initial;
  font-size: 18px;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 28px;
}

.form__item--impression {
  padding-bottom: 15px;
}

.form__item--places  {
  justify-content: flex-start;
}

.form__item--places label {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  width: 160px;
  font-weight: 700;
  text-transform: initial;
  margin-top: 12px;
  margin-bottom: 42px;
  margin-right: 30px;
  margin-left: 25px;
}

.form__item--places input {
  position: relative;
  margin-top: 0;
  width: 55px;
  height: 55px;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -8px;
    width: 23px;
    height: 16px;
    border: none;
    background-image: url("../img/icon-tick.svg");
  }
}

.form__item--emotions textarea {
  font-family: inherit;
  width: 255px;
  height: 145px;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-left: 20px;
  background-color: #f2f2f2;
  border: none;
}

.form__item--emotions textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.form__item--emotions h3 {
  padding: 0;
  width: 280px;
}

@media (max-width: @mobile-width-only) {
  .form__requiremets {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .form__item--introduction {
    & h3 {
      text-align: start;
      padding-bottom: 35px;
    }
    & input {
      width: 170px;
    }
    & label {
      width: 50px;
    }
    width: 259px;
    order: 2;
    padding-top: 35px;
    margin-left: 87px;
  }
  .form__item--impression {
    & h3 {
      text-align: start;
      padding-bottom: 35px;
    }
    & label {
      width: 220px;
      text-align: start;
    }
    width: 295px;
    padding-top: 35px;
    order: 1;
  }
  .form__item--contacts {
    & h3 {
      padding-top: 25px;
    }
    & input {
      width: 650px;
      margin-bottom: 25px;
    }
    order: 3;
    width: 648px;
  }
  .form__item--places {
    & h3 {
      width: 650px;
      text-align: center;
      margin: 0 auto;
      padding-top: 15px;
      padding-bottom: 40px;
    }
    & label {
      width: 200px;
    }
    width: 628px;
    order: 4;
    margin-left: 95px;
    padding-bottom: 30px;
  }
  .form__item--emotions {
    & h3 {
      text-align: center;
      padding-bottom: 40px;
      width: 100%;
    }
    order: 5;
    width: 648px;
  }
  .form__list h3 {
    font-size: 21px;
    line-height: 26px;
  }
  .form__review {
    padding-left: 60px;
    padding-right: 60px;
  }

  .form__item {
    padding-left: 0;
    padding-right: 0;
    border-top: none;
  }
  .form__item--emotions textarea {
    width: 650px;
  }
  .form__button {
    font-family: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 43px;
    margin-bottom: 48px;
    width: 325px;
    height: 58px;
    text-align: center;
  }
  .form__requiremets {
    padding-top: 50px;
    width: 166px;
  }
}

@media (min-width: @desktop-width) {
  .form__item--introduction {
    & h3 {
      text-align: start;
      padding-bottom: 35px;
    }
    & input {
      width: 290px;
    }
    & label {
      width: 50px;
    }
    width: 388px;
    padding-top: 20px;
    margin-left: 235px;
  }
  .form__item--impression {
    width: 324px;
    padding-top: 20px;
  }
  .form__review {
    padding-left: 120px;
    padding-right: 120px;
  }
  .form__item--contacts {
    & h3 {
      padding-bottom: 40px;
    }
    & input {
      width: 300px;
      margin-bottom: 25px;
      flex-grow: 1;
    }
    & label {
      padding-left: 0;
      padding-right: 0;
      margin-right: 20px;
      align-self: center;
    }
    width: 960px;
    padding-bottom: 15px;
  }
  .contacts-phone-number__input {
    margin: 0;
  }
  .contacts-email__label {
    margin-left: 70px;
  }
  .form__item--places {
    & h3 {
      width: 960px;
    }
    & label {
      width: 130px;
      margin-left: 25px;
    }
    width: 960px;
    margin-left: 0;
    padding-bottom: 22px;
    justify-content: space-between;
  }
  .form__item--emotions textarea {
    width: 960px;
  }
  .form__item--emotions {
    width: 960px;
  }

  .form__button {
    font-family: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-left: 0;
    margin-right: 20px;
    margin-top: 43px;
    margin-bottom: 48px;
    width: 480px;
    height: 58px;
    text-align: center;
  }
  .form__requiremets {
    padding-top: 48px;
    width: 167px;
  }
  .contacts-phone {
    display: none;
  }
}
