.main-page__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-page__title {
  padding: 40px 25px 0 25px;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  width: 270px;
}

.main-page__description {
  padding: 0 25px;
  margin: 27px 0 5px 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  width: 270px;
  color: #333333;
}

@media (min-width: @tablet-width) {
  .main-page__wrapper {
    width: @tablet-width;
  }
  .main-page__title {
    font-size: 21px;
    padding-top: 80px;
    margin: 0 auto;
    width: 450px;
  }
  .main-page__description {
    padding-top: 2px;
    padding-bottom: 45px;
    width: auto;
  }
  .main-page .site-list__link--main {
    color: #766357;
    &:hover,
    &:focus {
      color:#604e43;
    }
    &:active {
      color:#dbd8d5;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-page__wrapper {
    width: @desktop-width;
  }
}
