.photo-page__wrapper {
  width: 320px;
  margin: 0 auto;
}

.photo-page__title {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.photo-page__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 270px;
  padding: 0 25px;
  padding-bottom: 13px;
  text-align: center;
  color: #333333;
}

.photo-page .layout-welcome-text__image {
  width: 225px;
  height: 140px;
  padding-bottom: 17px;
}

.photo-page .layout-welcome-background {
  position: relative;
  background: url("../img/bg-back-mobile@1x.jpg");
  background-position: -225px -230px;
  background-repeat: no-repeat;
  background-color: #678fa8;
  min-height: 18px;
  padding-top: 0;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    height: 27px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background: url("../img/bg-intro-triangle-mobile.svg");
  }
}

.photo-page .footer {
  padding-top: 108px;
}

@media (min-width: @tablet-width) {
  .photo-page__wrapper {
    width: @tablet-width;
  }
  .photo-page__title {
    font-size: 30px;
    line-height: 26px;
    padding-top: 75px;
  }
  .photo-page__description {
    width: 430px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 55px;
  }
  .photo-page .site-list__link--photo {
    color: #766357;
    &:hover,
    &:focus {
      color:#604e43;
    }
    &:active {
      color:#dbd8d5;
    }
  }
  .photo-page .layout-welcome-text__image {
    width: 465px;
    height: 265px;
  }
  .photo-page .layout-welcome-background {
    background: url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 -230px;
    @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
            background: url("../img/bg-back-tablet@2x.jpg");
            background-size: cover;
            background-position: 0 -225px;
          }
    height: 289px;
    background-size: cover;
    &::before {
      content: "";
      background: url("../img/bg-intro-triangle-tablet.svg");
      height: 57px;
    }
  }
  .photo-page .footer {
    padding-top: 40px;
  }
}

@media (min-width: @desktop-width) {
  .photo-page__wrapper {
    width: @desktop-width;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    background-color: #ffffff;
  }
  .photo-page__title {
    padding-top: 115px;
  }
  .photo-page__description {
    margin-top: 17px;
    margin-bottom: 58px;
  }
  .photo-page .layout-welcome-text__image {
    width: 460px;
    height: 285px;
  }
  .photo-page .layout-welcome-background {
    background: url("../img/bg-back-desktop@1x.jpg");
    background-size: cover;
    background-position: 0 -215px;
    height: 299px;
    @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
            background: url("../img/bg-back-desktop@2x.jpg");
            background-size: cover;
            background-position: 0 -215px;
          }
    &::before {
      content: "";
      background: url("../img/bg-intro-triangle-desktop.svg");
    }
  }
  .photo-page .footer {
    padding-top: 85px;
  }
}
