.photo {
  outline: 1px solid red;
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  width: 310px;
  padding-top: 15px;
}

.photo__author {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: initial;
  width: 310px;
  padding-bottom: 5px;
}

.photo__likes-number {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 10px;
  padding-bottom: 13px;
}

  .photo__item {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 0 20px;
    padding-top: 22px;
    padding-bottom: 17px;
    margin-bottom: -1px;
    }
  }

//   .range-controls {
//     position: relative;
//     margin-bottom: 32px;
// }

// .range-controls .scale {
//     height: 2px;
//     background: rgba(255, 255, 255, 0.3);
// }

// .range-controls .bar {
//     width: 80%;
//     height: 2px;
//     background: black;
// }

// .range-toggle {
//     position: absolute;
//     top: -9px;
//     width: 4px;
//     height: 4px;
//     background: #ababab;
//     border: 8px solid black;
//     border-radius: 50%;
//     box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
//     cursor: pointer;
// }

// .range-toggle:hover {
//     background: #1c4f80;
// }

// .range-toggle-min {
//     left: 0;
// }

// .range-toggle-max {
//     left: 78%;
// }

@media (min-width: @tablet-width) {
  .photo__wrapper {
    width: 648px;
    margin: 0 auto;
  }
  .photo__list {
    display: flex;
    flex-wrap: wrap;
  }
  .photo__item:not(:nth-child(1)) {
    width: 324px;
  }
  .photo__author {
    padding-left: 20px;
    padding-bottom: 15px;
    width: 220px;
  }
  .photo__title {
    padding-left: 20px;
    width: 200px;
  }
  .photo__image {
    height: 267px;
  }
  .photo__image--boris {
    width: 648px;
    height: 400px;
  }
  .photo__title--boris {
    width: 328px;
  }
  .photo__author--boris {
    width: 544px;
  }
  .photo__text-wrapper {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 80px;
  }
  .photo__likes-wrapper {
    position: relative;
  }
  .photo__likes-number {
    position: absolute;
    bottom: 14px;
    left: 20px;
  }
  .photo__likes-image {
    position: absolute;
    bottom: 31px;
  }
}

@media (min-width: @desktop-width) {
  .photo__wrapper {
    width: 1200px;
  }
  .photo__item:not(:nth-child(1)) {
    width: 400px;
  }
  .photo__image--boris {
    width: 1200px;
  }
  .photo__author {
    width: 310px;
    color: white;
  }
  .photo__title {
    width: 380px;
  }
  #Shape {
    fill: #ffffff;
  }
  .photo__title--boris {
    width: 1050px;
  }
  .photo__author--boris {
    width: 1108px;
  }
  .photo__item {
    position: relative;
    color: white;
  }
  .photo__text-wrapper {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .photo__likes-number {
    left: 7px;
  }
  .photo__likes-image {
    right: -8px;
  }
}
