.photo {
  outline: 1px solid red;
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-page__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.photo-page__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  width: 270px;
  padding: 0 25px;
  text-align: center;
  color: #333333;
}

.photo__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: initial;
}

.photo__likes-number {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
